/* Overall Page */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #f4e5df;
    margin: 0;
    color: #333;
}

/* Container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

/* Overlay */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: none;
    margin: auto;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-box h2 {
    margin-top: 0;
}

.confirmation {
    display: none;
    margin-top: 20px;
    color: #28a745;
    font-weight: bold;
}

/* Header */
header {
    padding: 40px;
    text-align: center;
    background: #8cdf68;
    color: white;
    font-size: 24px;
    border-radius: 8px 8px 0 0;
}

header h1 {
    margin: 0;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-group button:hover {
    background: #0056b3;
}

/* Sign Out */
.signOut {
    font-size: 12px;
    text-align: right;
    margin: 10px;
}

/* About */
.reserved {
    font-size: 12px;
    text-align: left;
    margin: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.navbar div {
    margin-right: 10px;
}

/* Table Styles */
#reserved-books-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#reserved-books-table th, #reserved-books-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#reserved-books-table th {
    background-color: #f2f2f2;
    color: black;
}

/* Table Styles */
#borrowed-books-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#borrowed-books-table th, #borrowed-books-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#borrowed-books-table th {
    background-color: #f2f2f2;
    color: black;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-top: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 8px 8px 0 0;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
}

/* Main Page */
main {
    padding: 20px;
}

#books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book img {
    max-width: 100%;
    aspect-ratio: 440/650;
    border-radius: 8px;
    object-fit: cover;
}

.book button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.book button:hover {
    background-color: #218838;
}

/* Cancel Reservation Button */
.cancel button {
    padding: 4px 9px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 11px;
}

.cancel button:hover {
    background-color: #ff1a1a;
}

.extend button {
    padding: 5px 10px;
    background-color: #4da3ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 13px;
}

.extend button:hover {
    background-color: #4693e6;
}

.extended button {
    padding: 5px 10px;
    background-color: #5f6b79;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 13px;
}